<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>forgotpassword1</servlet-name>
        <servlet-class>forgotpassword1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>signup1.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup1</servlet-name>
        <servlet-class>signup1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword2</servlet-name>
        <servlet-class>forgotpassword2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword3</servlet-name>
        <servlet-class>forgotpassword3.forgotpassword3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword4</servlet-name>
        <servlet-class>forgotpassword4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincheck</servlet-name>
        <servlet-class>logincheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forgotpassword1</servlet-name>
        <url-pattern>/forgotpassword1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup1</servlet-name>
        <url-pattern>/signup1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword2</servlet-name>
        <url-pattern>/forgotpassword2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword3</servlet-name>
        <url-pattern>/forgotpassword3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword4</servlet-name>
        <url-pattern>/forgotpassword4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincheck</servlet-name>
        <url-pattern>/logincheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
